* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #9c84f4;
  margin-bottom: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #6f54f2;
}

.container {
  width: 320px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box, .dropdown, .section_usd {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #9c84f4;
}

/*Remove spin buttons in input box*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
  outline: none;
  border: none; 
}

input::placeholder {
  color: #9c84f4;
}

.dropdown:focus {
  outline: none;
  border: none; 
}

.token-image {
  width: 50px;
  height: 50px;
}

.token-image-top {
  margin-bottom: 20px;
}

.token-image-bottom {
  margin-top: 10px;
}

.btn {
  width: 90%;
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.btn-arrow {
  width: 90%;
  padding: 10px;
  background-color: #9c84f4; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-arrow:hover {
  background-color: #6f54f2; 
}

.arrow-icon {
  margin-right: 5px;
}
